#show {
    display: table;
    color: #000;
}

#show div {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 20px;
    height: auto;
    width: auto;
}
  
#show div:hover {
    background-color: #FFC0CB;
}